@font-face {
  font-family: '可爱体';
  src:url('@/assets/fonts/Muyao-Softbrush-2.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: '圆体';
  src:url('@/assets/fonts/PopGothicCjkTc-Bold-2.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}